obj/PruebaTallerProyecto.csproj.nuget.cache
obj/PruebaTallerProyecto.csproj.nuget.dgspec.json
obj/PruebaTallerProyecto.csproj.nuget.g.props
obj/PruebaTallerProyecto.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.assets.cache
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.RazorAssemblyInfo.cs
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/project.razor.json
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.RazorCoreGenerate.cache
bin/Debug/netcoreapp2.2/PruebaTallerProyecto.pdb
bin/Debug/netcoreapp2.2/PruebaTallerProyecto.Views.dll
bin/Debug/netcoreapp2.2/PruebaTallerProyecto.Views.pdb
bin/Debug/netcoreapp2.2/PruebaTallerProyecto.deps.json
bin/Debug/netcoreapp2.2/PruebaTallerProyecto.runtimeconfig.json
bin/Debug/netcoreapp2.2/PruebaTallerProyecto.runtimeconfig.dev.json
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.dll
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.pdb
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.TagHelpers.input.cache
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.TagHelpers.output.cache
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.Views.dll
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.Views.pdb
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.csproj.CopyComplete
obj/Debug/netcoreapp2.2/PruebaTallerProyecto.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
bin/Debug/netcoreapp2.2/PruebaTallerProyecto.dll
obj/Debug/netcoreapp2.2/Razor/Views/Home/Reportes.g.cshtml.cs
