@{
    ViewData["Title"] = "Segunda Pagina";
}
<body>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Si ves esto, es que le servicio fue exitosamente movida al Kubernetes. No se como esto teminaria, pero fue bien. Al menos</p>
<span>Nota: </span>
<label>@ViewData["numero"]</label>
<h3>@ViewData["numero"]</h3>

</body>
